{
	"extends": "eslint-config-egg",
	"root": true,
	"plugins": ["sort-imports-es6-autofix"],
	"rules": {
		"quotes": "off",
		"indent": "off",
		"no-unused-vars": "warn",
		"arrow-parens": "off",
		"array-bracket-spacing": "off",
		"sort-imports-es6-autofix/sort-imports-es6": [
			"warn",
			{
				"ignoreCase": false,
				"ignoreMemberSort": false,
				"memberSyntaxSortOrder": ["all", "single", "multiple", "none"]
			}
		]
	}
}
