{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"trailingComma": "es5",
	"arrowParens": "always",
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"editorconfig": true,
	"bracketSpacing": true,
	"printWidth": 120
}
